@import url('https://fonts.googleapis.com/css?family=Cardo|Crimson+Text|Josefin+Sans|Lora|Montserrat');

body {
	background-color: #DADACE;
	text-align:center;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5em;
	color: #243F59;
}

a{
	text-decoration: none;
	display: block;
	float: left;
	padding: 0 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content= " ";
	clear: both;
	height: 0;
	font-size: 0;
}

img{
	background-color:white;
	width: 60%;
}

h1{
	font-family:'Josefin Sans', sans-serif;
	font-weight:normal;
	font-size:50px;
	line-height:0.5em
	color: #D88779;
}

article{
	font-family: montserrat, sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	margin: auto;
	padding: 0 20%;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li{
	width: 50%;
	height: 50%;
	margin: auto;
	text-align: center;
	line-height: 4em;
	font-color: white;
}

footer {
	font-family: montserrat, sans-serif;
	font-size: 0.7em;
	text-align: center;
	text-transform: uppercase;
	display: block;
	padding: 10px 0 10px 10px;
}

@media only screen and (max-width: 768px) {
	img {
		width: 80%;
	}
}